@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
.everythingg{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carusel {
  min-height: 50vh;
  display: grid;
  place-items: center;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.boxx {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 250px;
  gap: 5px;

  > dir {
    flex: 0 0 150px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
    

    &:nth-of-type(1) {
      background: url("../images/1-std.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("../images/3-breakup.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("../images/6-thanksgiving-invite.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("../images/7-second-family.png")
        no-repeat 50% / cover;
    }

    .contentss {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(46, 2, 2, 0.676) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;
        margin-left: -40px;
      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #d84545;
      transform: translatey(-30px);

    }

    &:hover .contentss {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
